.input {
  margin: 0 !important;
}

.input div div {
  height: 100px;
}
.input > div > div:hover {
  background-color: var(--background-color);
  height: 100px;
}

.input div div label {
  display: none;
}
.input div div div div span {
  color: theme("colors.fonts-secondary");
  font-size: 40px;
}
.input div div div input,
.input div div div input::placeholder {
  color: theme("colors.fonts-secondary");
  height: fit-content;
  -moz-appearance: textfield;
  font-size: 60px;
}

.button {
  color: theme("colors.text_button_color") !important;
  font-size: 20px !important;
}
