.welcome_text {
  position: relative;
  top: 90px;
  left: 0;
  width: 140px;
}

.image_container {
  position: relative;
  width: fit-content;
  bottom: 40px;
  left: 120px;
}

.img {
  border-radius: 40px;
  transform: rotate(10deg);
}
