.balance_card {
  overflow: hidden;
}

.eye {
  position: absolute !important;
  height: 25px !important;
  left: 210px;
  top: 14px;
  border: none;
  min-width: 5px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}